$accent: #87A1FF;
$background-primary: #1A1B26;
$background-secondary: #16161E;
$background-accent: #1E202E;

$border-color: #87a1ff1c;
$radius: 6px;

$text-color: #c4ccf1;
$text-hover: #edf6fecc;
$text-active: #141418;

$button-color: #6183bb17;
$button-hover: #6183bb32;
$button-active: #2a2b3c;

$corner-left-radius: 10px;
$corner-right-radius: 10px;